body {
  background-color: #0d1b2a;
  color: white;
}

.movie-poster img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 320px;
}

.movie-title {
  font-size: 16px;
  margin-top: 0.5rem;
}

.filter-label {
  color: white;
}

.navbar-brand {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  color: #4db8ff !important;
}
.modal-content {
  border-radius: 8px;
}

.modal-body input {
  padding: 10px;
  font-size: 1rem;
}

.modal-body button {
  font-size: 1rem;
  padding: 10px;
}

